# opentracker config file
#

# I)   ip addresses for tcp connections, either bind to INADDR_ANY port 6969
#      (when no shell option is present)
#
# listen.tcp 0.0.0.0
#
#      or specify them one by one (shell option -i 192.168.0.1 -p 6969)
#      (note, that :6969 is implicite)
#
# listen.tcp 192.168.0.1
# listen.tcp 192.168.0.2:6969
# listen.tcp 192.168.0.3:6969

# II)  the same goes for udp connections (shell option -i 192.168.0.1 -P 6969)
#
# listen.udp 192.168.0.1:6969
#
#      Note, that using 0.0.0.0 for udp sockets may yield surprising results.
#      An answer packet sent on that socket will not necessarily have the
#      source address that the requesting client may expect, but any address
#      on that interface
#

# III) If opentracker runs in a non-open mode, point it to files containing
#      all torrent hashes that it will serve (shell option -w)
#
# access.whitelist /path/to/whitelist
#
#      or, if opentracker was compiled to allow blacklisting (shell option -b)
#
# access.blacklist ./blacklist
#
#      It is pointless and hence not possible to compile black AND white
#      listing, so choose one of those options. File format is straight
#      forward: "<hex info hash>\n<hex info hash>\n..."
#

# IV)  ip address to listen for incoming and sending out outgoing live sync
#      packets (shell option -i 192.168.0.1 -s 9696), port 9696 is default.
#
# livesync.cluster.listen 192.168.0.1:9696
#
#      Note that two udp sockets will be opened. One on ip address 0.0.0.0
#      port 9696, that will join the multicast group 224.23.42.1 for incoming
#      udp packets and one on ip address 192.168.0.1 port 9696 for outgoing
#      udp packets.
#
#      As of now one and only one ip address must be given, if opentracker
#      was built with the WANT_SYNC_LIVE feature
#

# V)   Sync between trackers running in a cluster is restricted to packets
#      coming from trusted ip addresses. While source ip verification is far
#      from perfect, the authors of opentracker trust in the correct
#      application of tunnels, filters and LAN setups (shell option -A)
#
# livesync.cluster.node_ip 192.168.0.4
# livesync.cluster.node_ip 192.168.0.5
# livesync.cluster.node_ip 192.168.0.6
#
#      This is the admin ip address for old style (HTTP based) asynchronus
#      tracker syncing.
#
# batchsync.cluster.admin_ip 10.1.1.1
#

# VI)  Control directory where opentracker will chdir to. So all black/white
#      list files may be put in that directory. (shell option -d)
#
# tracker.rootdir /usr/local/etc/opentracker
#

# VII) opentracker can be told to answer to a "GET / HTTP"-request with a
#      redirect to another location (shell option -r)
#
# tracker.redirect_url https://your.tracker.local/
